<!DOCTYPE html>
<html lang="en">
    <head>
        <title> Scholarships Come to You! </title>
    </head>
    <body>
        <div class="header">
            <img src='/static/images/Block_M-Hex.png' style="height: 50px; width:auto">
            <h1> MICHIGAN IT </h1>
            <ul>
                <li><a href="/"> Home </a></li>
                <li><a href="/accounts/login/"> Login </a></li>
            </ul>
        </div>
        <h2> Welcome to Scholarships Come to You! </h2>
        <p> Browsing all available scholarships. </p>
        <p> <a href='/accounts/login/'>Login</a> to see personalized results.</p>
        <p> Filter by </p>

        {% for scholarship in scholarships %}
            <div>
                <a href={{scholarship.Website}} class=scholarship_title > {{scholarship.Name}}</a>
                <p> {{scholarship.Description}}</p>
                <br>
            </div>
        {% endfor %}
    </body>
</html>