<!DOCTYPE html>
<html lang="en">
    <head>
        <title> Scholarships Come To You! </title>
        <link rel="stylesheet" href="/../static/css/style.css">
    </head>
    <body>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/login/">Login</a></li>
        </ul>
        <div>
            <h1>
                Welcome to Scholarships Come To You!
            </h1>
        </div>
        <div>
            Current student? <a href="/login/"> Login</a>
        </div>
        <div>
            Or <a href="/browse/"> browse as a guest</a>
        </div>
    </body>
</html>