<!DOCTYPE html>
<html lang="en">
    <head>
        <title> Scholarships Come to You! </title>
        <link rel="stylesheet" href="/../static/css/style.css">
    </head>
    <body>
        <div class="header">
            <img src='/static/images/Block_M-Hex.png' style="height: 50px; width:auto">
            <h1> MICHIGAN IT </h1>
            <ul>
                <li><a href="/"> Home </a></li>
                <li><a href="/accounts/login/"> Login </a></li>
            </ul>
        </div>
        <div>
            <h2>
                Welcome to Scholarships Come to You!
            </h2>
        </div>
        <div>
            Current student? <a href="/accounts/login/"> Login</a>
        </div>
        <p> or </p>
        <div>
            <a href="/browse/"> Browse as a guest</a>
        </div>
    </body>
</html>