<!DOCTYPE html>
<html lang="en">
    <head>
        <title> Scholarships Come to You! </title>
        <link rel="stylesheet" href="/../static/css/style.css">
    </head>
    <body>
        <div class="header">
            <img src='/static/images/Block_M-Hex.png' style="height: 50px; width:auto">
            <h1> MICHIGAN IT </h1>
            <ul>
                <li><a href="/"> Sign Out </a></li>
                <li><a href="/u/"> {{username}} </a></li>
            </ul>
        </div>
        <h2> Welcome to Scholarships Come to You! </h2>
        <p> Showing personalized scholarship results for {{username}} </p>
        {% for scholarship in scholarships %}
            <div>
                <a href={{scholarship.Website}} class=scholarship_title > {{scholarship.Name}}</a>
                <p class="scholarship_description"> {{scholarship.Description}}</p>
            </div>
        {% endfor %}
    </body>
</html>